# Australian Grocery Store Data Analysis
- Name: Nishika Kambli
- division: B 24

In [20]:
# setup 
import pandas as pd

In [21]:
#importing the 2017 sales DataFrame 
sales_2017_df = pd.read_csv("Australian_Grocery_Store_Data_2017.csv")
sales_2017_df.sort_values("receipt_id").head(3)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5kg bag,1.000,cash,4.5,4.99,0.49
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,cash,2.0,1.99,-0.01
91984,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1008,Broccoli,0.626,cash,0.0,3.50,3.50

In [22]:
# importing 2018 Sales
sales_2018_df = pd.read_csv("Australian_Grocery_Store_Data_2018.csv")
sales_2018_df.sort_values("receipt_id").head(3)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
18180,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2032,Orange navel,1.426,cash,0.0,2.99,2.99
9272,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2010,Banana Cavendish,1.436,cash,2.0,1.99,-0.01
22346,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,9332769000139,Eggs 700g,1.000,cash,2.7,3.20,0.50

In [23]:
sales_df = pd.concat([sales_2017_df, sales_2018_df], ignore_index = False)
sales_df.sort_values("receipt_id").head(3)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,cash,2.0,1.99,-0.01
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5kg bag,1.000,cash,4.5,4.99,0.49
1171,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2002,Apples Granny Smith,0.352,cash,0.0,3.00,3.00

In [24]:
item_categories_df = pd.read_csv("Australian_Grocery_Store_Data_Only_Items_Categories.csv")
item_categories_df.head(10)

                     item_name  main_category sub_category
0         2kg Royal gala apple  Fresh Produce       Apples
1   Apple Granny Smith 1kg bag  Fresh Produce       Apples
2  Apple Granny smith 2kg Bags  Fresh Produce       Apples
3                   apple Jazz  Fresh Produce       Apples
4               Apple Jonathan  Fresh Produce       Apples
5   Apple pink lady 1kg Punnet  Fresh Produce       Apples
6          apple pink lady 2kg  Fresh Produce       Apples
7                  Apples Fuji  Fresh Produce       Apples
8      Apples Golden Delicious  Fresh Produce       Apples
9          Apples Granny Smith  Fresh Produce       Apples

In [25]:
sales_df = pd.merge(sales_df, item_categories_df, how = "left", on = ["item_name"])
sales_df.head(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,cash,0.0,2.99,2.99,Fresh Produce,Apples
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,cash,0.0,2.99,2.99,Fresh Produce,Apples
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,cash,0.0,2.99,2.99,Fresh Produce,Apples
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,cash,0.0,2.99,2.99,Fresh Produce,Apples
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,cash,0.0,2.99,2.99,Fresh Produce,Apples
5,648880e7-8cc0-4f89-aee0-1110b5ee1570,2/8/2017 9:10:49 PM,2003,Apples Pink Lady,0.166,cash,0.0,2.99,2.99,Fresh Produce,Apples
6,e7aa2e2a-d259-4418-a05b-383db43c71fc,2/17/2017 8:17:02 PM,2003,Apples Pink Lady,0.168,cash,0.0,2.99,2.99,Fresh Produce,Apples
7,511f365b-987f-41a9-bde7-0461cb001b99,1/30/2017 9:20:47 PM,2003,Apples Pink Lady,0.178,cash,0.0,2.99,2.99,Fresh Produce,Apples
8,40192fc8-7edb-44db-bad7-ad913cc94657,2/21/2017 5:50:04 AM,2003,Apples Pink Lady,0.178,cash,0.0,2.99,2.99,Fresh Produce,Apples
9,6bb1cbb7-b49b-4324-9c13-f3534cdf5033,3/2/2017 3:41:23 AM,2003,Apples Pink Lady,0.180,cash,0.0,2.99,2.99,Fresh Produce,Apples

In [26]:
sales_df["item_name"] = sales_df["item_name"].str.title()
sales_df["payment_type"] = sales_df["payment_type"].str.title()
sales_df["main_category"] = sales_df["main_category"].str.title()
sales_df["sub_catergory"] = sales_df["sub_category"].str.title()
sales_df.sort_values("receipt_id").head(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub_catergory
14443,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,2010,Banana Cavendish,1.364,Cash,2.0,1.99,-0.01,Fresh Produce,Bananas,Bananas
95656,0001c063-2d32-4380-9db6-de20c5b48f59,1/16/2017 1:54:07 AM,1163,Brushed Potatoes 5Kg Bag,1.000,Cash,4.5,4.99,0.49,Fresh Produce,Potatoes,Potatoes
1171,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2002,Apples Granny Smith,0.352,Cash,0.0,3.00,3.00,Fresh Produce,Apples,Apples
88419,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,2124,Mango 2For 3.00,1.000,Cash,0.0,3.00,3.00,Fresh Produce,Deals,Deals
94804,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1073,Potato Desiree,1.370,Cash,0.0,2.99,2.99,Fresh Produce,Potatoes,Potatoes
91984,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,1008,Broccoli,0.626,Cash,0.0,3.50,3.50,Fresh Produce,Other Vegies,Other Vegies
132330,0002a81e-5e13-4e0f-95fd-2f4a46c997fb,1/25/2017 10:24:42 PM,9322670000014,Carrots 1Kg,1.000,Cash,0.8,1.49,0.69,Fresh Produce,carrots,Carrots
219496,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,9332769000139,Eggs 700G,1.000,Cash,2.7,3.20,0.50,"Dairy, Cheese, And Eggs",Eggs,Eggs
206422,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2010,Banana Cavendish,1.436,Cash,2.0,1.99,-0.01,Fresh Produce,Bananas,Bananas
215330,0002d6fc-1efa-43de-ba27-a683a1ee7ab8,5/20/2018 5:28:28 PM,2032,Orange Navel,1.426,Cash,0.0,2.99,2.99,Fresh Produce,Citrus Fruits,Citrus Fruits

In [29]:
sales_df["total_buying_price"] = sales_df["quantity"] * sales_df["unit_buying_price"]
sales_df["total_selling_price"] = sales_df["quantity"] * sales_df["unit_selling_price"]
sales_df["total_margin"] = sales_df["quantity"] * sales_df["unit_price_margin"]
sales_df

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub_catergory,total_buying_price,total_selling_price,total_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.41860,0.41860
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.43654,0.43654
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.44850,0.44850
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.45448,0.45448
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.48438,0.48438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372752,4abec176-1ca7-4b47-afc9-1679174161dd,10/1/2018 4:00:35 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372753,863d4c09-d00c-4fdc-b8c6-0733244699c5,7/30/2018 4:20:44 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372754,e9e84a1d-22ed-4302-8932-8ef52f9ac200,12/12/2018 1:27:30 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372755,85c16d9f-5407-4922-a3d6-fa8bbed80688,8/17/2018 3:44:24 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000
372756,b9d76d65-06d5-4e96-af68-c0f8f8d81566,10/9/2018 4:40:51 PM,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000

In [30]:
sales_df.loc[sales_df["quantity"]<1, "quantity_type"] = "Single"
sales_df.loc[(sales_df["quantity"]>1)&(sales_df["quantity"]<10), "quantity_type"] = "Regular"
sales_df.loc[sales_df["quantity"]>=10, "quantity_type"] = "bulk"
sales_df.sample(10)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub_catergory,total_buying_price,total_selling_price,total_margin,quantity_type
108818,c13f21f5-e9e7-41f9-8d13-fdcbe88613c1,8/19/2017 2:20:00 PM,2070,Mandarin Imperial,0.314,Cash,1.00,2.50,1.50,Fresh Produce,Citrus Fruits,Citrus Fruits,0.3140,0.78500,0.47100,Single
109400,25a40589-48f6-43f0-b1cc-1efb90643b37,6/18/2017 10:44:44 AM,2070,Mandarin Imperial,0.610,Cash,1.00,2.50,1.50,Fresh Produce,Citrus Fruits,Citrus Fruits,0.6100,1.52500,0.91500,Single
36410,6d6bb085-107d-4025-9128-5f21d41fb50e,1/26/2017 2:42:38 AM,1031,Cucumber Continental,1.000,Cash,0.00,1.50,1.50,Fresh Produce,Cucumbers,Cucumbers,0.0000,1.50000,1.50000,NaN
209218,7af11f00-d18b-402d-92ec-2392388da576,6/8/2018 2:11:20 PM,1025,Celery,1.000,Cash,0.00,2.99,2.99,Fresh Produce,Bunch Vegies,Bunch Vegies,0.0000,2.99000,2.99000,NaN
39383,85fade1b-bdab-4027-a1de-4316c895630c,2/26/2017 4:06:15 AM,2055,Grapes Sulthana,0.956,Cash,2.00,4.99,2.99,Fresh Produce,Grapes,Grapes,1.9120,4.77044,2.85844,Single
127596,46d2c097-6ad6-4854-bab5-523a7da8fde6,4/4/2017 5:49:12 AM,1079,Pumpkin Japanese/Kent,0.548,Cash,0.00,1.99,1.99,Fresh Produce,Pumpkins,Pumpkins,0.0000,1.09052,1.09052,Single
74745,cbfe54ed-a49f-4a87-a2c3-b702aa8d38ae,6/9/2017 11:51:00 AM,4064,Chest Nuts,0.820,Cash,8.99,9.00,0.01,Snacks,Dry Fruits and Nuts,Dry Fruits And Nuts,7.3718,7.38000,0.00820,Single
271402,dc755f28-0db9-41c5-9ea5-1e899ad37f63,5/29/2018 4:03:49 PM,2065,Avocado Hass Medium,1.000,Magcard,3.00,1.99,-1.01,Fresh Produce,Avocadoes,Avocadoes,3.0000,1.99000,-1.01000,NaN
118713,857f663c-076a-4537-899b-80d2cffb5088,10/4/2017 5:53:15 PM,2079,Pear Packham,0.854,Cash,2.00,2.99,0.99,Fresh Produce,Pears,Pears,1.7080,2.55346,0.84546,Single
168146,85984104-a1a4-4f0c-a982-766aa917c677,6/30/2017 5:51:58 PM,1005,Beetroot,0.550,Magcard,0.00,2.99,2.99,Fresh Produce,Root Vegies,Root Vegies,0.0000,1.64450,1.64450,Single

In [31]:
sales_df["date"] = pd.to_datetime(sales_df["date"])
sales_df.dtypes

receipt_id                     object
date                   datetime64[ns]
item_code                       int64
item_name                      object
quantity                      float64
payment_type                   object
unit_buying_price             float64
unit_selling_price            float64
unit_price_margin             float64
main_category                  object
sub_category                   object
sub_catergory                  object
total_buying_price            float64
total_selling_price           float64
total_margin                  float64
quantity_type                  object
dtype: object

In [32]:
sales_df["year"] = sales_df["date"].dt.year
sales_df["quater"] = sales_df["date"].dt.quarter
sales_df["month"] = sales_df["date"].dt.month_name()
sales_df["day"] = sales_df["date"].dt.day_name()
sales_df

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,sub_catergory,total_buying_price,total_selling_price,total_margin,quantity_type,year,quater,month,day
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2017-02-17 00:17:17,2003,Apples Pink Lady,0.140,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.41860,0.41860,Single,2017,1,February,Friday
1,65d59c3b-b474-482f-8779-3249d6fee305,2017-02-02 22:14:16,2003,Apples Pink Lady,0.146,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.43654,0.43654,Single,2017,1,February,Thursday
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2017-02-21 02:11:10,2003,Apples Pink Lady,0.150,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.44850,0.44850,Single,2017,1,February,Tuesday
3,3399ecfd-f809-4653-9310-d41015e09f8a,2017-01-10 03:11:14,2003,Apples Pink Lady,0.152,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.45448,0.45448,Single,2017,1,January,Tuesday
4,085663fa-1fde-4ffc-adfc-527599065a87,2017-02-03 02:16:10,2003,Apples Pink Lady,0.162,Cash,0.0,2.99,2.99,Fresh Produce,Apples,Apples,0.0,0.48438,0.48438,Single,2017,1,February,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372752,4abec176-1ca7-4b47-afc9-1679174161dd,2018-10-01 16:00:35,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000,NaN,2018,4,October,Monday
372753,863d4c09-d00c-4fdc-b8c6-0733244699c5,2018-07-30 16:20:44,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000,NaN,2018,3,July,Monday
372754,e9e84a1d-22ed-4302-8932-8ef52f9ac200,2018-12-12 13:27:30,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000,NaN,2018,4,December,Wednesday
372755,85c16d9f-5407-4922-a3d6-fa8bbed80688,2018-08-17 15:44:24,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000,NaN,2018,3,August,Friday
372756,b9d76d65-06d5-4e96-af68-c0f8f8d81566,2018-10-09 16:40:51,1232,Onion Brown 2Kg Large,1.000,Magcard,3.5,4.50,1.00,Pantry Staples,Condiments,Condiments,3.5,4.50000,1.00000,NaN,2018,4,October,Tuesday

# Items Analysis

In [38]:
items_df = sales_df.groupby(["item_name", "main_category", "sub_category"]).agg(unit_buying_price = ("unit_buying_price", "mean"),
                                                                               unit_selling_price = ("unit_selling_price", "mean"),
                                                                              unit_price_margin = ("unit_price_margin", "mean"), 
                                                                              quantity = ("quantity", "sum"),
                                                                              revenue = ("total_selling_price", "sum"),
                                                                              profit = ("total_margin", "sum"))
items_df

,,,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
item_name,main_category,sub_category,,,,,,
1Kg Olive Pack,Fresh Produce,Other Vegies,6.99,10.00,3.01,9.088,90.88000,27.35488
1Lt Coconut Oil,Pantry Staples,Oil,0.28,14.00,13.72,80.000,1120.00000,1097.60000
1Lt Coconut Oil Ver,Pantry Staples,Oil,0.00,14.00,14.00,10.000,140.00000,140.00000
2Kg Marsh Grapefruit,Fresh Produce,Citrus Fruits,3.00,5.00,2.00,141.000,705.00000,282.00000
2Kg Royal Gala Apple,Fresh Produce,Apples,0.00,4.50,4.50,60.000,270.00000,270.00000
...,...,...,...,...,...,...,...,...
Yellow Mustard Seeds 100G,Pantry Staples,Spices,0.00,2.99,2.99,3.000,8.97000,8.97000
Yellow Split Peas 500G,Pantry Staples,Grains and Pulses,1.40,1.99,0.59,60.000,119.40000,35.40000
Zafarelli,Fresh Produce,Bunch Vegies,1.00,1.50,0.50,12.000,18.00000,6.00000
Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,8423.56550
Zucchini Lebanese,Fresh Produce,Other Vegies,0.00,3.49,3.49,1.708,5.96092,5.96092

# What are my top 50 items by revenue?

In [40]:
top_50_items_revenue = items_df.sort_values("revenue", ascending = False).head(50)
top_50_items_revenue

,,,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
item_name,main_category,sub_category,,,,,,
Banana Cavendish,Fresh Produce,Bananas,2.00,1.99,-0.01,24348.693,48453.89907,-243.48693
Watermelon Seedless,Fresh Produce,Melons,1.00,1.49,0.49,20791.036,30978.64364,10187.60764
Field Tomatoes,Fresh Produce,Tomatoes,1.60,2.99,1.39,7428.811,22212.14489,10326.04729
Eggplant,Fresh Produce,Other Vegies,0.00,6.99,6.99,2797.440,19554.10560,19554.10560
Cherries,Fresh Produce,Other Fruits,0.00,15.99,15.99,1113.293,17801.55507,17801.55507
Eggs 700G,"Dairy, Cheese, And Eggs",Eggs,2.70,3.20,0.50,4926.000,15763.20000,2463.00000
Lettuce Iceberg,Fresh Produce,Lettuces,0.00,2.50,2.50,5812.000,14530.00000,14530.00000
Apples Pink Lady,Fresh Produce,Apples,0.00,2.99,2.99,4273.474,12777.68726,12777.68726
Cucumber Lebanese,Fresh Produce,Cucumbers,0.00,4.99,4.99,2476.144,12355.95856,12355.95856
Capsicum Red,Fresh Produce,capsicum,0.00,4.99,4.99,2407.521,12013.52979,12013.52979
Potato Sweet Gold,Fresh Produce,Potatoes,0.00,2.99,2.99,3812.922,11400.63678,11400.63678
Pear Packham,Fresh Produce,Pears,2.00,2.99,0.99,3600.093,10764.27807,3564.09207
Papaya Red,Fresh Produce,Tropical Fruits,0.00,5.00,5.00,2128.820,10644.10000,10644.10000
Orange Navel,Fresh Produce,Citrus Fruits,0.00,2.99,2.99,3451.104,10318.80096,10318.80096
Mandarin Imperial,Fresh Produce,Citrus Fruits,1.00,2.50,1.50,4121.470,10303.67500,6182.20500
Tomatoes Truss,Fresh Produce,Tomatoes,0.00,5.99,5.99,1717.310,10286.68690,10286.68690
Potato Brushed,Fresh Produce,Potatoes,2.25,2.50,0.25,4087.434,10218.58500,1021.85850
Okra,Fresh Produce,Asian Vegies,8.35,9.99,1.64,1004.205,10032.00795,1646.89620
Pumpkin Japanese/Kent,Fresh Produce,Pumpkins,0.00,1.99,1.99,4884.189,9719.53611,9719.53611
Potatoes Red 5Kg,Fresh Produce,Potatoes,0.00,6.00,6.00,1602.000,9612.00000,9612.00000
Nectarine White,Fresh Produce,Stonefruits,1.20,2.99,1.79,3209.975,9597.82525,5745.85525
Grapes Black,Fresh Produce,Grapes,0.00,3.99,3.99,2384.434,9513.89166,9513.89166
Broccoli,Fresh Produce,Other Vegies,0.00,3.50,3.50,2544.840,8906.94000,8906.94000
Berries Strawberry (Medium),Fresh Produce,Berries,0.00,2.50,2.50,3444.000,8610.00000,8610.00000
Cucumber Continental,Fresh Produce,Cucumbers,0.00,1.50,1.50,5720.000,8580.00000,8580.00000
Crimson Grapes,Fresh Produce,Grapes,0.00,4.99,4.99,1710.352,8534.65648,8534.65648
Potato Washed,Fresh Produce,Potatoes,0.00,2.99,2.99,2845.250,8507.29750,8507.29750
Tomatoes Roma,Fresh Produce,Tomatoes,0.00,4.99,4.99,1703.746,8501.69254,8501.69254
Zucchini Green,Fresh Produce,Other Vegies,0.00,3.50,3.50,2406.733,8423.56550,8423.56550
Mushroom Cup,Fresh Produce,Mushrooms,5.00,8.99,3.99,933.177,8389.26123,3723.37623
Onion Spring,Fresh Produce,Bunch Vegies,0.60,1.50,0.90,5586.000,8379.00000,5027.40000
Potato Desiree,Fresh Produce,Potatoes,0.00,2.99,2.99,2797.904,8365.73296,8365.73296
Cauliflower,Fresh Produce,Other Vegies,2.00,2.99,0.99,2787.136,8333.53664,2759.26464
Coriander,Fresh Produce,Herbs,0.00,1.99,1.99,4105.000,8168.95000,8168.95000
Apples Fuji,Fresh Produce,Apples,0.00,3.99,3.99,2030.770,8102.77230,8102.77230
Onion Brown 2Kg Large,Pantry Staples,Condiments,3.50,4.50,1.00,1731.000,7789.50000,1731.00000
Leek,Fresh Produce,Other Vegies,1.00,2.00,1.00,3815.000,7630.00000,3815.00000
Celery,Fresh Produce,Bunch Vegies,0.00,2.99,2.99,2496.000,7463.04000,7463.04000
Apples Royal Gala,Fresh Produce,Apples,0.00,3.00,3.00,2476.879,7430.63700,7430.63700
Apples Granny Smith,Fresh Produce,Apples,0.00,3.00,3.00,2447.338,7342.01400,7342.01400
Beans Green,Fresh Produce,Other Vegies,0.00,4.99,4.99,1422.583,7098.68917,7098.68917
Wash Potatoes 5Kg,Fresh Produce,Potatoes,0.00,6.00,6.00,1148.000,6888.00000,6888.00000
Spinach Bunch,Fresh Produce,Bunch Vegies,0.00,3.00,3.00,2295.000,6885.00000,6885.00000
Berries Strawberry (Large),Fresh Produce,Berries,3.33,3.80,0.47,1675.000,6365.00000,787.25000
Garlic Chinese 500G,Fresh Produce,Onions,0.00,2.50,2.50,2512.000,6280.00000,6280.00000
Peaches White,Fresh Produce,Stonefruits,0.00,3.50,3.50,1771.921,6201.72350,6201.72350
Grapes White Seedless,Fresh Produce,Grapes,0.00,2.99,2.99,2041.871,6105.19429,6105.19429
Pineapple,Fresh Produce,Tropical Fruits,0.00,4.50,4.50,1322.000,5949.00000,5949.00000
Garlic Loose,Fresh Produce,Garlic,0.00,10.00,10.00,583.224,5832.24000,5832.24000
Nectarine Yellow,Fresh Produce,Stonefruits,0.00,2.99,2.99,1899.376,5679.13424,5679.13424

# What are my top 50 items by quantity?

In [41]:
top_50_items_quantity = items_df.sort_values("quantity", ascending = False).head(3)
top_50_items_quantity

,,,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
item_name,main_category,sub_category,,,,,,
Banana Cavendish,Fresh Produce,Bananas,2.0,1.99,-0.01,24348.693,48453.89907,-243.48693
Watermelon Seedless,Fresh Produce,Melons,1.0,1.49,0.49,20791.036,30978.64364,10187.60764
Field Tomatoes,Fresh Produce,Tomatoes,1.6,2.99,1.39,7428.811,22212.14489,10326.04729

# What are my top 50 items by profit?

In [42]:
top_50_items_profit = items_df.sort_values("profit", ascending = False).head(3)
top_50_items_profit

,,,unit_buying_price,unit_selling_price,unit_price_margin,quantity,revenue,profit
item_name,main_category,sub_category,,,,,,
Eggplant,Fresh Produce,Other Vegies,0.0,6.99,6.99,2797.440,19554.10560,19554.10560
Cherries,Fresh Produce,Other Fruits,0.0,15.99,15.99,1113.293,17801.55507,17801.55507
Lettuce Iceberg,Fresh Produce,Lettuces,0.0,2.50,2.50,5812.000,14530.00000,14530.00000