# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [2]:
# my name.
name= "Nishika Kambli"
name

'Nishika Kambli'

In [3]:
# my age.
age= 18
age

18

In [4]:
#trips within India.
trips_within_india= 9
trips_within_india

9

In [5]:
#trips outside India.
trips_outside_india= 8
trips_outside_india

8

In [6]:
#total number of trips i've taken.
total_trips = (trips_within_india+trips_outside_india)
total_trips

17

In [7]:
#  total number of trips i've taken, using the numeric value in a sentence
total_trips_taken = "total of " + str(9+8) + " trips taken"
total_trips_taken

'total of 17 trips taken'

In [8]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables 
trips_taken= trips_within_india > trips_outside_india
trips_taken

True

In [9]:
# average number of trips i've taken in a year using-
# your total number of trips and your age.
average_trips_each_year= 17/18
average_trips_each_year

0.9444444444444444

In [10]:
# average number of trips i've taken, using the numeric value in a sentence.
average_of_trips_each_year_sentence= "i have taken " +str(average_trips_each_year) + " trips on average each year"
average_of_trips_each_year_sentence

'i have taken 0.9444444444444444 trips on average each year'